@import 'reset'
@import 'typography'
@import 'colors'

@import '../layout/container'
@import './layout/header'
@import './layout/footer'
@import './components/link-button'
@import './components/input'
@import './components/textarea'
@import './components/button'

hr
  font-size: 1px
  color: $color-line-dark

h4
  margin-block: 0
  color: $color-gray

  font-size: 16px
  font-weight: 700

  line-height: 25px
  text-transform: uppercase

body
  color: $color-white
  background-color: $color-black
