@media screen and (max-width: $breakpoint-mobile)
  .hero-carousel-slide__text
    max-width: unset

    font-size: 32px
    line-height: 32px

    text-align: center

  .hero-carousel-pagination
    padding-inline: 0
    width: fit-content
