doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="./styles/products.css")
    script(defer, src="./scripts/main.js")

    title AI COBRA
  body
    include includes/mixins/header.pug
    +header([
      { "title": "Brand", "link": "#", "underlined": false },
      { "title": "Products", "link": "#", "underlined": true },
      { "title": "Shop", "link": "#", "underlined": false },
      { "title": "Delivery", "link": "#", "underlined": false }
    ])(class="header_indent-body")

    .products.container
      .products__outer
        .products__inner
          .products-item
            .products-item__image(style="background-image: url(\"./images/products_1.png\")")
            a.products-item__text(href="#") Automation systems & stream transportation platforms
          .products-item
            a.products-item__text(href="#") Integration solutions for warehouses, retail & manufacturing
          .products-item
            a.products-item__text(href="#") Logistics robots and delivery systems — Logistics & Delivery systems
          .products-item
            a.products-item__text(href="#") HoReCa & Drive through solutions
          .products-item
            a.products-item__text(href="#") Home & Kids Robots & Toy Robots — Domestic & Toy robots
    
    include includes/footer.pug