.footer
  padding-block: 80px 40px

  &__row
    display: grid
    grid-template-columns: 500px 1fr

    &:nth-child(2)
      margin-block: 110px 100px

    &:last-child
      display: flex

  &__logotype svg
    width: 198px
    height: 44px

  .footer__links
    display: flex
    margin-top: 5px

    .links-group
      &:not(:first-child)
        margin-left: auto

      &__items
        margin-top: 20px

      &__item
        max-width: 199px
        font-size: 20px
        line-height: 30px

        &:not(:first-child)
          margin-top: 15px

  .contact-us
    grid-column: 2

    &__title
      font-size: 20px
      line-height: 30px

    &__email
      margin-top: 5px
      font-size: 40px
      line-height: 50px

  .footer__text
    color: $color-gray
    font-size: 16px
    line-height: 25px

    &:not(:first-child)
      margin-left: 35px

    &:last-child
      margin-left: auto

  hr
    margin-block: 40px
